body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Noto Serif JP", serif;
  line-height: 1.6;
}

.AboutH2Wrapper {
  padding: 0px 0px 5px 0px;
  border-bottom: 2px solid #999999;
}

.WorkH2Wrapper {
  padding: 0px 0px 5px 0px;
  border-bottom: 2px solid #999999;
}

.DisableListDot {
  list-style-type: none;
}
